<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width"
		/>
		<link
			rel="icon"
			type="image/x-icon"
			href="/favicon.ico"
		/>
		<meta
			name="generator"
			content={Astro.generator}
		/>
		<title>Orbit Labs</title>
		<meta
			name="description"
			content="We build tools that help you master the skills that AI will never replace."
		/>
		<meta
			name="theme-color"
			content="#000000"
		/>
		<meta
			name="og:title"
			content="Orbit Labs"
		/>
		<meta
			name="og:description"
			content="We build tools that help you master the skills that AI will never replace."
		/>
		<meta
			name="og:type"
			content="website"
		/>
		<meta
			name="og:url"
			content="https://orbitlabs.studio"
		/>
		<meta
			name="og:image"
			content="https://orbitlabs.studio/og-image.png"
		/>
		<meta
			name="twitter:card"
			content="summary_large_image"
		/>
		<meta
			name="twitter:title"
			content="Orbit Labs"
		/>
		<meta
			name="twitter:description"
			content="We build tools that help you master the skills that AI will never replace."
		/>
		<meta
			name="twitter:image"
			content="https://orbitlabs.studio/og-image.png"
		/>
		<meta
			name="twitter:site"
			content="@orbitlabs"
		/>
		<meta
			name="twitter:creator"
			content="@orbitlabs"
		/>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	*,
	*::before,
	*::after {
		box-sizing: border-box;
	}

	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
